DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,web

# sqlite (fallback) or postgres
# DATABASE_URL=sqlite:///db.sqlite3
DATABASE_URL=postgres://mitaka:mitaka@db:5432/mitaka

REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0

MEDIA_ROOT=/app/media
STATIC_ROOT=/app/staticfiles
